* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "MPLUS 1p";
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 9;
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 631px) {
  .container {
    max-width: 590px;
  }
}
@media (max-width: 581px) {
  .container {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 481px) {
  .container {
    max-width: 440px;
  }
}
@media (max-width: 441px) {
  .container {
    max-width: 350px;
  }
}
.line-bottom {
  position: relative;
  z-index: 1;
}
.line-bottom::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 22px;
  right: -5px;
  left: -5px;
  height: 12px;
  background-color: #fbdc4d;
}
@media (max-width: 1196px) {
  .line-bottom::after {
    bottom: 18px;
  }
}
@media (max-width: 1048px) {
  .line-bottom::after {
    bottom: 14px;
  }
}
@media (max-width: 992px) {
  .line-bottom::after {
    bottom: 11px;
  }
}
@media (max-width: 768px) {
  .line-bottom::after {
    bottom: 8px;
  }
}
@media (max-width: 711px) {
  .line-bottom::after {
    height: 10px;
    bottom: 5px;
  }
}
@media (max-width: 631px) {
  .line-bottom::after {
    height: 13px;
    bottom: 17px;
  }
}
@media (max-width: 540px) {
  .line-bottom::after {
    bottom: 8px;
  }
}
@media (max-width: 320px) {
  .line-bottom::after {
    height: 12px;
    bottom: 8px;
  }
}
@media (max-width: 285px) {
  .line-bottom::after {
    height: 8px;
  }
}
.animate-line {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.animate-line::after,
.animate-line::before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 4px;
  background-color: #fbdc4d;
  width: 0%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.animate-line::after {
  right: 50%;
}
.animate-line::before {
  left: 50%;
}
@media (max-width: 765px) {
  .animate-line::after,
  .animate-line::before {
    background-color: white;
  }
}
.animate-line:hover::after,
.animate-line:hover::before {
  width: 50%;
}
.section__title {
  position: relative;
  z-index: 2;
  margin-bottom: 66px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 800;
  font-size: 64px;
}
.section__title::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 18px;
  right: -5px;
  left: -5px;
  height: 10px;
  background-color: #fbdc4d;
}
@media (max-width: 768px) {
  .section__title {
    margin-bottom: 54px;
    font-size: 58px;
  }
  .section__title::after {
    bottom: 15px;
  }
}
@media (max-width: 540px) {
  .section__title {
    font-size: 41px;
  }
  .section__title::after {
    bottom: 11px;
  }
}
@media (max-width: 414px) {
  .section__title {
    font-size: 42px;
  }
  .section__title::after {
    bottom: 12px;
  }
}
@media (max-width: 320px) {
  .section__title {
    margin-bottom: 44px;
    font-size: 42px;
  }
  .section__title::after {
    bottom: 11px;
  }
}
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px 0 74px;
  background-image: url(../img/header/header-bg.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
  position: relative;
}
.header__nav {
  margin: 0 auto;
  margin-bottom: 176px;
  padding: 0 17px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1430px) {
  .header__nav {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    margin-bottom: 118px;
    padding: -1px;
  }
}
@media (max-width: 769px) {
  .header__nav {
    margin-bottom: 39px;
    padding: 0 30px;
  }
}
@media (max-width: 541px) {
  .header__nav {
    padding: 0 55px;
  }
}
@media (max-width: 441px) {
  .header__nav {
    padding: 0 30px;
  }
}
@media (max-width: 321px) {
  .header__nav {
    padding: 0 20px;
  }
}
.nav__initials {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  font-family: "MPLUS 1p";
  font-weight: 800;
  font-size: 42px;
}
.nav__initials::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 10px;
  right: -5px;
  left: -5px;
  height: 10px;
  background-color: #fbdc4d;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .nav__link {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    position: absolute;
    top: 43px;
    right: 0;
    z-index: 9;
  }
}
@media (max-width: 321px) {
  .nav__link {
    max-width: 290px;
  }
}
.nav__link.active {
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (max-width: 769px) {
  .nav__link.active {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
.nav__link a {
  color: #000;
  font-family: "MPLUS 1p";
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (max-width: 581px) {
  .nav__link a {
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  .nav__link a {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .nav__link a {
    font-size: 12px;
  }
}
@media (max-width: 361px) {
  .nav__link a {
    font-size: 11px;
  }
}
@media (max-width: 361px) {
  .nav__link a {
    font-size: 9.5px;
  }
}
.nav__item {
  margin-right: 60px;
  border-radius: 30px;
  padding: 5px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 769px) {
  .nav__item {
    margin-right: 40px;
  }
}
@media (max-width: 631px) {
  .nav__item {
    margin-right: 20px;
  }
}
@media (max-width: 415px) {
  .nav__item {
    margin-right: 8px;
  }
}
@media (max-width: 321px) {
  .nav__item {
    margin-right: 4px;
  }
}
.nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 768px) {
  .nav__socials {
    display: none;
  }
}
.nav__socials-item {
  margin-right: 20px;
  color: #000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.nav__socials-item:last-child {
  margin-right: 0;
}
.fa-github-square:hover,
.fa-github-square:active {
  color: #6cc644;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fa-instagram:hover,
.fa-instagram:active {
  color: #ea736d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fa-vk:hover,
.fa-vk:active {
  color: #45668e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fa-telegram-plane:hover,
.fa-telegram-plane:active {
  color: #45668e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fa-whatsapp:hover,
.fa-whatsapp:active {
  color: #6cc644;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle-menu {
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__toggle-menu span {
  position: relative;
  margin: auto;
  width: 100%;
  height: 5px;
  background-color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__toggle-menu span::after,
.header__toggle-menu span::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__toggle-menu span::after {
  top: -10px;
}
.header__toggle-menu span::before {
  bottom: -10px;
}
.header__toggle-menu.active span {
  background-color: transparent;
}
.header__toggle-menu.active span::after {
  top: 0;
  background-color: #fbdc4d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__toggle-menu.active span::before {
  bottom: 0;
  background-color: #fbdc4d;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 993px) {
  .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 631px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header-content__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 457px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .header-content__img {
    max-width: 350px;
  }
}
@media (max-width: 769px) {
  .header-content__img {
    max-width: 338px;
    padding: 0 10px;
  }
}
@media (max-width: 631px) {
  .header-content__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 560px;
    margin: 0 auto;
  }
}
@media (max-width: 581px) {
  .header-content__img {
    max-width: 500px;
    margin-bottom: 40px;
  }
}
@media (max-width: 541px) {
  .header-content__img {
    max-width: 450px;
  }
}
@media (max-width: 321px) {
  .header-content__img {
    max-width: 290px;
    margin: 0 auto;
  }
}
.header-content__desc {
  max-width: 590px;
  overflow: hidden;
  z-index: 8;
}
@media (max-width: 1196px) {
  .header-content__desc {
    max-width: 470px;
  }
}
@media (max-width: 992px) {
  .header-content__desc {
    max-width: 350px;
  }
}
@media (max-width: 769px) {
  .header-content__desc {
    max-width: 339px;
  }
}
@media (max-width: 711px) {
  .header-content__desc {
    max-width: 300px;
  }
}
@media (max-width: 631px) {
  .header-content__desc {
    max-width: 560px;
    margin: 0 auto;
  }
}
@media (max-width: 581px) {
  .header-content__desc {
    max-width: 500px;
  }
}
@media (max-width: 541px) {
  .header-content__desc {
    max-width: 456px;
  }
}
@media (max-width: 441px) {
  .header-content__desc {
    max-width: 350px;
  }
}
@media (max-width: 321px) {
  .header-content__desc {
    max-width: 320px;
    padding: 0 15px;
  }
}
.desc-title {
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 90px;
  line-height: 1.2;
}
@media (max-width: 1196px) {
  .desc-title {
    font-size: 70px;
  }
}
@media (max-width: 992px) {
  .desc-title {
    font-size: 50px;
  }
}
@media (max-width: 769px) {
  .desc-title {
    font-size: 52px;
  }
}
@media (max-width: 711px) {
  .desc-title {
    font-size: 40px;
  }
}
@media (max-width: 631px) {
  .desc-title {
    font-size: 70px;
  }
}
@media (max-width: 481px) {
  .desc-title {
    font-size: 58px;
  }
}
@media (max-width: 441px) {
  .desc-title {
    font-size: 47px;
  }
}
@media (max-width: 321px) {
  .desc-title {
    font-size: 42px;
  }
}
@media (max-width: 281px) {
  .desc-title {
    font-size: 37px;
  }
}
.header-content__desc p {
  margin-bottom: 26px;
  padding-right: 67px;
  color: #393f47;
  font-weight: 500;
  font-size: 24px;
}
.header-content__desc p::-moz-selection {
  background-color: #fbdc4d;
}
.header-content__desc p::selection {
  background-color: #fbdc4d;
}
@media (max-width: 769px) {
  .header-content__desc p {
    font-size: 18px;
  }
}
@media (max-width: 631px) {
  .header-content__desc p {
    padding-right: 0;
    font-size: 27px;
  }
}
.header__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__button {
  margin-right: 20px;
  padding: 10px 42px;
  height: 64px;
  border: 4px solid #464646;
  border-radius: 40px;
  color: #464646;
  font-weight: 700;
  font-size: 22px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__button:last-child {
  margin-right: 0;
}
.header__button:hover,
.header__button:focus {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #fbdc4d;
  border: 4px solid #fbdc4d;
}
@media (max-width: 1196px) {
  .header__button {
    padding: 10px 32px;
  }
}
@media (max-width: 992px) {
  .header__button {
    display: none;
  }
}
.header__img {
  margin: 0 auto;
  margin-top: -120px;
  max-width: 1600px;
  opacity: 0.8;
  z-index: -9;
}
@media (max-width: 769px) {
  .header__img {
    margin-top: -54px;
  }
}
@media (max-width: 321px) {
  .header__img {
    display: none;
  }
}
.header__img-mobile {
  display: none;
}
@media (max-width: 321px) {
  .header__img-mobile {
    display: block;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 0;
  }
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 993px) {
  .header__bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 581px) {
  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
  }
}
.header-bottom__skills {
  max-width: 655px;
  margin-right: 195px;
}
@media (max-width: 992px) {
  .header-bottom__skills {
    max-width: 350px;
    margin-right: 100px;
  }
}
@media (max-width: 769px) {
  .header-bottom__skills {
    max-width: 339px;
    margin-right: 35px;
  }
}
@media (max-width: 581px) {
  .header-bottom__skills {
    max-width: 500px;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 541px) {
  .header-bottom__skills {
    max-width: 450px;
    margin-bottom: 40px;
  }
}
@media (max-width: 321px) {
  .header-bottom__skills {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 320px;
    padding: 0 15px;
  }
}
.header-bottom__title {
  margin-bottom: 41px;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
@media (max-width: 769px) {
  .header-bottom__title {
    margin-bottom: 33px;
    font-size: 32px;
  }
}
@media (max-width: 321px) {
  .header-bottom__title {
    font-size: 30px;
  }
}
.header-bottom__desc {
  margin-bottom: 38px;
  color: #6b6b6b;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
}
@media (max-width: 1196px) {
  .header-bottom__desc {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  .header-bottom__desc {
    margin-bottom: 0;
    font-size: 18px;
  }
}
@media (max-width: 581px) {
  .header-bottom__desc {
    font-size: 27px;
  }
}
.header-bottom__desc li {
  margin-bottom: 10px;
}
.header-bottom__desc li::before {
  content: "__ ";
  position: relative;
  left: 0px;
  bottom: 10px;
}
.header-bottom__desc li::-moz-selection {
  background-color: #fbdc4d;
}
.header-bottom__desc li::selection {
  background-color: #fbdc4d;
}
.header-bottom__desc li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1196px) {
  .header-bottom__desc li::before {
    display: none;
  }
}
.header-bottom__contacts {
  max-width: 360px;
}
@media (max-width: 992px) {
  .header-bottom__contacts {
    max-width: 350px;
  }
}
@media (max-width: 769px) {
  .header-bottom__contacts {
    max-width: 338px;
  }
}
@media (max-width: 581px) {
  .header-bottom__contacts {
    max-width: 500px;
  }
}
@media (max-width: 541px) {
  .header-bottom__contacts {
    max-width: 450px;
  }
}
@media (max-width: 321px) {
  .header-bottom__contacts {
    max-width: 320px;
    padding: 0 15px;
  }
}
.header-contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.contacts-social__item {
  margin-right: 30px;
  color: #000;
  font-size: 48px;
}
.contacts-social__item:last-child {
  margin-right: 0;
}
@media (max-width: 992px) {
  .contacts-social__item {
    font-size: 42px;
  }
}
@media (max-width: 581px) {
  .contacts-social__item {
    font-size: 52px;
  }
}
@media (max-width: 321px) {
  .contacts-social__item {
    font-size: 38px;
    margin-right: 20px;
  }
}
.header-bottom__email {
  color: #6b6b6b;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px #ffffff;
  border-bottom: 3px solid #6b6b6b;
  cursor: pointer;
}
.header-bottom__email:hover {
  color: #039be5;
  border-bottom: 3px solid #039be5;
}
.header-bottom__email:active {
  color: #ea736d;
  border-bottom: 3px solid #ea736d;
}
@media (max-width: 769px) {
  .header-bottom__email {
    font-size: 20px;
  }
}
@media (max-width: 581px) {
  .header-bottom__email {
    font-size: 30px;
  }
}
@media (max-width: 441px) {
  .header-bottom__email {
    font-size: 25px;
  }
}
@media (max-width: 441px) {
  .header-bottom__email {
    font-size: 18px;
  }
}
.section__portfolio {
  padding: 120px 0 112px;
  background-color: #f4f8f9;
}
@media (max-width: 1048px) {
  .section__portfolio {
    padding: 120px 0 112px;
  }
}
@media (max-width: 768px) {
  .section__portfolio {
    padding: 80px 0 79px;
  }
}
@media (max-width: 540px) {
  .section__portfolio {
    padding: 80px 0 79px;
  }
}
@media (max-width: 414px) {
  .section__portfolio {
    padding: 61px 0 97px;
  }
}
@media (max-width: 321px) {
  .section__portfolio {
    padding: 61px 10px 97px;
  }
}
.section-portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .section-portfolio__nav {
    display: none;
  }
}
@media (max-width: 540px) {
  .section-portfolio__nav {
    display: none;
  }
}
.portfolio-nav__item {
  margin-right: 83px;
  font-weight: 700;
  font-size: 28px;
  font-family: "MPLUS 1p";
  color: #8fa5ae;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.portfolio-nav__item:hover,
.portfolio-nav__item:focus {
  color: #000;
}
@media (max-width: 1115px) {
  .portfolio-nav__item {
    font-size: 26px;
  }
}
@media (max-width: 950px) {
  .portfolio-nav__item {
    margin-right: 50px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .portfolio-nav__item {
    font-size: 18px;
  }
}
.section-portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1161px) {
  .section-portfolio__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1110px) {
  .section-portfolio__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio-content__card {
  max-width: 535px;
  margin-bottom: 40px;
}
.portfolio-content__card:last-child {
  margin-bottom: 0;
}
@media (max-width: 1161px) {
  .portfolio-content__card {
    max-width: 520px;
  }
}
@media (max-width: 1120px) {
  .portfolio-content__card {
    max-width: 560px;
  }
}
@media (max-width: 769px) {
  .portfolio-content__card {
    max-width: 560px;
    margin-bottom: 28px;
  }
}
@media (max-width: 540px) {
  .portfolio-content__card {
    max-width: 480px;
  }
}
@media (max-width: 321px) {
  .portfolio-content__card {
    margin-bottom: 35px;
    max-width: 290px;
  }
}
.portfolio-content__card a {
  margin-bottom: 30px;
}
.content-card__img {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #fdd446;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  cursor: pointer;
}
.content-card__img::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(253, 212, 70, 0.6);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}
@media (max-width: 768px) {
  .content-card__img {
    max-width: 560px;
  }
}
@media (max-width: 540px) {
  .content-card__img {
    max-width: 360px;
  }
}
.button-more {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  color: #ea736d;
  font-family: "MPLUS 1p";
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  padding: 0 38px;
  height: 50px;
  border-radius: 40px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.content-card__img:hover::before {
  display: block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.content-card__img:hover .button-more {
  opacity: 0.7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.content-card__img:hover .button-more:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #d4423b;
  color: #fff;
}
.content-card__img:hover .button-more:active {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 1;
}
.content-card__title {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}
.content-card__title:hover {
  color: #ed574f;
}
@media (max-width: 768px) {
  .content-card__title {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .content-card__title {
    font-size: 22px;
  }
}
.content-card__desc {
  font-weight: 400;
  font-size: 22px;
}
@media (max-width: 768px) {
  .content-card__desc {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .content-card__desc {
    font-size: 16px;
  }
}
.section__hiw {
  padding: 150px 0;
  background-image: url(../img/how-i-work/hiw-bg.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}
@media (max-width: 1117px) {
  .section__hiw {
    padding: 100px 0;
  }
}
@media (max-width: 920px) {
  .section__hiw {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .section__hiw {
    padding: 90px 10px;
  }
}
@media (max-width: 375px) {
  .section__hiw {
    padding: 90px 10px;
  }
}
@media (max-width: 321px) {
  .section__hiw {
    padding: 60px 10px;
  }
}
.section__hiw h2 {
  margin: 0 auto;
  margin-bottom: 160px;
}
@media (max-width: 768px) {
  .section__hiw h2 {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .section__hiw h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .section__hiw h2 {
    font-size: 40px;
  }
}
@media (max-width: 321px) {
  .section__hiw h2 {
    font-size: 32px;
  }
  .section__hiw h2::after {
    bottom: 8px;
  }
}
.timeline {
  max-width: 1005px;
  margin: 0 auto;
}
.timeline__item-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  padding: 17px;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.timeline__item {
  width: 50%;
  height: 245px;
  position: relative;
  padding-left: 124px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.timeline__item::after {
  position: absolute;
  top: 112px;
  left: 37px;
  bottom: 0;
  content: "";
  width: 3px;
  background-color: #e1eef4;
}
.timeline__item:nth-child(2n) {
  margin-left: auto;
}
@media (max-width: 1025px) {
  .timeline__item:nth-child(2n) {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .timeline__item:nth-child(2n) {
    padding-left: 106px;
    height: 220px;
  }
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n) {
    padding-left: 110px;
    margin-left: 0;
  }
}
@media (max-width: 321px) {
  .timeline__item:nth-child(2n) {
    padding-left: 99px;
  }
}
.timeline__item:nth-child(2n+1) {
  padding-left: 0;
  padding-right: 124px;
  text-align: right;
}
@media (max-width: 1025px) {
  .timeline__item:nth-child(2n+1) {
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .timeline__item:nth-child(2n+1) {
    padding-right: 106px;
    height: 220px;
  }
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n+1) {
    padding-right: 0;
    padding-left: 110px;
    text-align: left;
  }
}
@media (max-width: 321px) {
  .timeline__item:nth-child(2n+1) {
    padding-left: 99px;
  }
}
@media (max-width: 650px) {
  .timeline__item {
    width: 100%;
  }
}
.timeline__item:hover .item__text-title::after {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #ea736d;
}
.timeline__item:first-child::before {
  position: absolute;
  right: 0;
  top: -77px;
  height: 57px;
  content: "";
  width: 3px;
  background-color: #e1eef4;
}
@media (max-width: 769px) {
  .timeline__item:first-child::before {
    display: none;
  }
}
.timeline__item:last-child::after {
  display: none;
}
.timeline__item:nth-child(2n) .timeline__item-icon {
  left: -37px;
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n) .timeline__item-icon {
    left: 0;
  }
}
.timeline__item:nth-child(2n)::after {
  left: 0;
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n)::after {
    left: 37px;
  }
}
.timeline__item:nth-child(2n+1) .timeline__item-icon {
  left: auto;
  right: -37px;
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n+1) .timeline__item-icon {
    left: 0;
    right: 0;
  }
}
.timeline__item:nth-child(2n+1)::after {
  left: auto;
  right: 0;
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n+1)::after {
    left: 37px;
  }
}
.timeline__item-text {
  width: 100%;
  height: 100%;
}
.item__text-title {
  position: relative;
  margin-top: 25px;
  margin-bottom: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 26px;
  font-weight: 800;
  line-height: 1;
}
.item__text-title::after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 0px;
  right: -5px;
  left: -5px;
  height: 7px;
  background-color: #fbdc4d;
}
@media (max-width: 1025px) {
  .item__text-title::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .item__text-title {
    margin-bottom: 14px;
    font-size: 24px;
  }
}
@media (max-width: 321px) {
  .item__text-title {
    font-size: 20px;
  }
}
.timeline__item:nth-child(2n+1) .item__text-title {
  margin-left: auto;
}
@media (max-width: 650px) {
  .timeline__item:nth-child(2n+1) .item__text-title {
    margin-left: 0;
  }
}
.item__text-desc {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.item__text-desc::-moz-selection {
  background-color: #fbdc4d;
}
.item__text-desc::selection {
  background-color: #fbdc4d;
}
@media (max-width: 768px) {
  .item__text-desc {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media (max-width: 321px) {
  .item__text-desc {
    font-size: 14px;
  }
}
.item__text-time {
  font-size: 18px;
  font-weight: 800;
}
@media (max-width: 321px) {
  .item__text-time {
    font-size: 14px;
  }
}
.section__contacts {
  position: relative;
  padding: 160px 0 150px;
  background-image: url(../img/contacts/contacts-bg.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}
@media (max-width: 1156px) {
  .section__contacts {
    padding: 120px 0 150px;
  }
}
@media (max-width: 926px) {
  .section__contacts {
    padding: 120px 0 150px;
  }
}
@media (max-width: 769px) {
  .section__contacts {
    padding: 88px 0 90px;
  }
}
@media (max-width: 591px) {
  .section__contacts {
    padding: 88px 10px 90px;
  }
}
@media (max-width: 451px) {
  .section__contacts {
    padding: 88px 10px 90px;
  }
}
@media (max-width: 321px) {
  .section__contacts {
    padding: 60px 10px 60px;
  }
}
.section__contacts h2 {
  margin: 0 auto;
  margin-bottom: 80px;
}
@media (max-width: 769px) {
  .section__contacts h2 {
    font-size: 52px;
  }
}
@media (max-width: 451px) {
  .section__contacts h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 281px) {
  .section__contacts h2 {
    font-size: 48px;
  }
}
.section-contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 931px) {
  .section-contacts__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 541px) {
  .section-contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts-content__right {
  max-width: 488px;
}
@media (max-width: 931px) {
  .contacts-content__right {
    max-width: 339px;
  }
}
@media (max-width: 769px) {
  .contacts-content__right {
    max-width: 339px;
  }
}
@media (max-width: 696px) {
  .contacts-content__right {
    max-width: 240px;
  }
}
@media (max-width: 541px) {
  .contacts-content__right {
    max-width: 480px;
    margin: 0 auto;
  }
}
.content-right__desc p {
  margin-bottom: 44px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.content-right__desc p::-moz-selection {
  background-color: #fbdc4d;
}
.content-right__desc p::selection {
  background-color: #fbdc4d;
}
@media (max-width: 926px) {
  .content-right__desc p {
    font-size: 18px;
  }
}
@media (max-width: 798px) {
  .content-right__desc p {
    margin-bottom: 30px;
  }
}
.right-connection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}
@media (max-width: 926px) {
  .right-connection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 21px;
  }
}
.right-connection__item p {
  font-size: 20px;
  color: #96969d;
}
.right-connection__item p:first-child {
  width: 95px;
  margin-right: 80px;
  color: #000;
  font-weight: 700;
}
@media (max-width: 798px) {
  .right-connection__item p {
    font-size: 18px;
  }
}
.right-connection__item a {
  color: #039be5;
  font-family: "MPLUS 1p";
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.right-connection__item a:hover,
.right-connection__item a:active {
  text-decoration: underline;
}
@media (max-width: 798px) {
  .right-connection__item a {
    font-size: 18px;
  }
}
@media (max-width: 541px) {
  .content-right__socials {
    margin-bottom: 50px;
  }
}
.right-socials__item {
  margin-right: 30px;
  color: black;
}
.right-socials__item:last-child {
  margin-right: 0;
}
@media (max-width: 798px) {
  .right-socials__item {
    margin-right: 20px;
  }
}
@media (max-width: 636px) {
  .right-socials__item {
    margin-right: 10px;
  }
}
.contacts-content__dots {
  position: absolute;
  z-index: -1;
  top: 158px;
  left: -350px;
}
@media (max-width: 1155px) {
  .contacts-content__dots {
    display: none;
  }
}
.contacts-content__dots img {
  width: 451px;
  height: 279px;
}
.contacts-content__left {
  margin: 0 auto;
}
.content-left__form {
  padding: 60px 64px;
  width: 510px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
  border-radius: 15px;
}
@media (max-width: 1156px) {
  .content-left__form {
    padding: 50px 54px;
    width: 410px;
  }
}
@media (max-width: 926px) {
  .content-left__form {
    padding: 40px 44px;
    width: 350px;
  }
}
@media (max-width: 769px) {
  .content-left__form {
    padding: 39px 28px;
    width: 339px;
  }
}
@media (max-width: 591px) {
  .content-left__form {
    padding: 30px 10px;
    width: 290px;
  }
}
@media (max-width: 541px) {
  .content-left__form {
    width: 400px;
  }
}
@media (max-width: 451px) {
  .content-left__form {
    width: 350px;
  }
}
@media (max-width: 390px) {
  .content-left__form {
    width: 300px;
  }
}
@media (max-width: 321px) {
  .content-left__form {
    padding: 39px 18px;
    width: 290px;
  }
}
@media (max-width: 306px) {
  .content-left__form {
    width: 265px;
  }
}
@media (max-width: 281px) {
  .content-left__form {
    width: 250px;
  }
}
.form__item {
  position: relative;
  margin-bottom: 72px;
}
.form__item:last-of-type {
  margin-bottom: 40px;
}
@media (max-width: 769px) {
  .form__item:last-of-type {
    margin-bottom: 20px;
  }
}
@media (max-width: 769px) {
  .form__item {
    margin-bottom: 50px;
  }
}
.form-field {
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  font-size: 18px;
  padding: 0 12px;
  outline: none;
}
.form-field:focus,
.form-field:active {
  border-bottom: 2px solid #ea736d;
}
textarea.form-field {
  height: 112px;
  resize: none;
}
.fake-placeholder {
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #bcbcbc;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.fake-placeholder::-webkit-input-placeholder {
  padding-top: 8px;
}
.fake-placeholder:-ms-input-placeholder {
  padding-top: 8px;
}
.fake-placeholder::-ms-input-placeholder {
  padding-top: 8px;
}
.fake-placeholder::placeholder {
  padding-top: 8px;
}
.fake-placeholder.active {
  color: #ed9626;
  font-size: 16px;
  top: -20px;
}
.form__button {
  padding: 0 42px;
  height: 64px;
  background-color: #fbdc4d;
  border-radius: 40px;
  color: #464646;
  font-weight: 700;
  font-size: 22px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.form__button:hover,
.form__button:focus {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #000;
  background-color: #ffd200;
}
@media (max-width: 769px) {
  .form__button {
    width: 100%;
    height: 55px;
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  .form__button {
    height: 50px;
  }
}
.contact-form__success {
  padding: 60px 64px;
  width: 510px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
  border-radius: 15px;
}
@media (max-width: 1156px) {
  .contact-form__success {
    padding: 50px 54px;
    width: 410px;
  }
}
@media (max-width: 926px) {
  .contact-form__success {
    padding: 40px 44px;
    width: 350px;
  }
}
@media (max-width: 769px) {
  .contact-form__success {
    padding: 39px 28px;
    width: 339px;
  }
}
@media (max-width: 591px) {
  .contact-form__success {
    padding: 30px 10px;
    width: 290px;
  }
}
@media (max-width: 541px) {
  .contact-form__success {
    width: 400px;
  }
}
@media (max-width: 451px) {
  .contact-form__success {
    width: 350px;
  }
}
@media (max-width: 390px) {
  .contact-form__success {
    width: 300px;
  }
}
@media (max-width: 321px) {
  .contact-form__success {
    padding: 39px 18px;
    width: 290px;
  }
}
@media (max-width: 306px) {
  .contact-form__success {
    width: 265px;
  }
}
@media (max-width: 281px) {
  .contact-form__success {
    width: 250px;
  }
}
.footer {
  padding: 29px 20px 41px;
  background-color: #333333;
  color: #fff;
}
.footer-author {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.footer-desc p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.footer-desc p:last-child {
  margin-bottom: 0;
}
.footer-desc a {
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
/*# sourceMappingURL=main.css.map */