* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

body
{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

a, a:hover {text-decoration: none;}

ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p
{
  margin: 0;
  padding: 0;
}

img
{
  max-width: 100%;
  height: auto;
  display: block;
}

button, input {outline: none;}

button
{
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}

.container
{
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  z-index: 9;

  @media (max-width: 768px) {max-width: 708px;}

  @media (max-width: 540px) {max-width: 480px;}

  @media (max-width: 320px) {max-width: 290px;}
}

.line-bottom
{
  position: relative;
  z-index: 1;

  &::after
  {
    position: absolute;
    z-index: -1;

    content: "";
    bottom: 22px;
    right: -5px;
    left: -5px;
    height: 12px;
    background-color: #fbdc4d;

    @media (max-width: 1048px) {bottom: 14px;}

    @media (max-width: 768px) {bottom: 8px;}

    @media (max-width: 641px)
    {
      height: 10px;
      bottom: 5px;
    }

    @media (max-width: 540px) {bottom: 8px;}

    @media (max-width: 320px)
    {
      height: 12px;
      bottom: 8px;
    }

    @media (max-width: 285px) {height: 8px;}
  }
}

.animate-line
{
  position: relative;
  width: fit-content;

  &::after, &::before
  {
    position: absolute;
    content: "";
    bottom: 0;
    height: 4px;
    background-color: #fbdc4d;
    width: 0%;
    transition: 0.5s ease;
  }

  &::after {right: 50%;}

  &::before {left: 50%;}
}

.animate-line:hover::after, .animate-line:hover::before {width: 50%;}
