* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

body
{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

a, a:hover {text-decoration: none;}

ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p
{
  margin: 0;
  padding: 0;
}

img
{
  max-width: 100%;
  height: auto;
  display: block;
}

button, input {outline: none;}

button
{
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}

.container
{
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  z-index: 9;

  @media (max-width: 768px)
  {
    max-width: 708px;
  }

  @media (max-width: 320px)
  {
    max-width: 290px;
  }
}

.line-bottom
{
  position: relative;
  z-index: 1;

  &::after
  {
    position: absolute;
    z-index: -1;

    content: "";
    bottom: 20px;
    right: -5px;
    left: -5px;
    height: 12px;
    background-color: #fbdc4d;

    @media (max-width: 768px)
    {
      bottom: 11px;
    }

    @media (max-width: 320px)
    {
      bottom: 8px;
    }
  }
}
