.section__contacts
{
  padding: 160px 253px 150px;

  background-image: url(../img/contacts/contacts-bg.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

  display: none;
}

.section__contacts h2
{
  margin: 0 auto;
  margin-bottom: 80px;
}

.section-contacts__content
{

}

.contacts-content__right
{
  max-width: 488px;
}

.contacts-content__right p
{
  margin-bottom: 44px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.content-right__desc
{
  display: flex;
  margin-bottom: 48px;
}

.right-desc__tags
{
  margin-right: 108px;
}

.right-desc__tags p
{
  margin-bottom: 38px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1;

  &:last-child
  {
    margin-bottom: 0;
  }
}

.right-desc__data p
{
  margin-bottom: 38px;

  color: rgb(150, 150, 157);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;

  &:last-child
  {
    margin-bottom: 0;
  }
}

.right-desc__data a
{
  font-family: "MPLUS 1p";
  color: #039be5;
}

.content-right__socials
{

}

.right-socials__item
{
  margin-right: 30px;
  color: black;

  &:last-child
  {
    margin-right: 0;
  }
}

.Rectangle {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.004);
  position: absolute;
  left: 838px;
  top: 279px;
  width: 511px;
  height: 545px;
  z-index: 375;
}
