.header
{
  padding: 75px 0 238px;

  background-image: url(../img/header/header-bg.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

  // overflow: hidden;
  overflow-x: hidden;
  position: relative;

  @media (max-width: 1048px) {padding: 30px 30px 58px;}

  @media (max-width: 768px) {padding: 30px 30px 58px;}

  @media (max-width: 320px) {padding: 36px 15px 100px;}
}

.header__nav
{
  margin: 0 auto;
  margin-bottom: 176px;

  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px)
  {
    max-width: 708px;
    margin-bottom: 80px;
  }

  @media (max-width: 540px) {max-width: 448px;}

  @media (max-width: 320px)
  {
    max-width: 290px;
    margin-bottom: 50px;
  }
}

.nav__initials
{
  position: relative;
  z-index: 2;

  width: fit-content;

  color: #000;
  font-family: "MPLUS 1p";
  font-weight: 800;
  font-size: 42px;

  &::after
  {
    position: absolute;
    z-index: -1;

    content: "";
    bottom: 10px;
    right: -5px;
    left: -5px;
    height: 10px;
    background-color: #fbdc4d;
  }
}

.nav__link
{
  display: flex;
  // overflow: hidden;

  @media (max-width: 768px)
  {
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease;

    position: absolute;
    top: 43px;
    right: 0;
    z-index: 9;
  }

  @media (max-width: 320px)
  {
    max-width: 290px;

    flex-direction: row;
    transform: translate(100%, 190%);
  }
}

.nav__link.active
{
  transform: translateX(-45%);
  transition: 0.5s ease;

  @media (max-width: 320px) {transform: translate(-10%, 190%);}
}

.nav__link a
{
  color: #000;

  font-family: "MPLUS 1p";
  font-weight: 700;
  font-size: 20px;

  transition: 0.2s ease;

  @media (max-width: 768px)
  {
    font-size: 18px;

    &:hover, &:focus {color: #fbdc4d;}
  }

  @media (max-width: 320px) {font-size: 15px;}
}

.nav__item
{
  margin-right: 60px;
  padding: 5px 0;
  border-radius: 30px;

  transition: 0.4s ease;

  &:last-child {margin-right: 0;}

  @media (max-width: 768px)
  {
    margin-right: 0;
    padding: 3px 20px;

    &:hover, &:focus {background-color: transparent;}
  }
}

.nav__socials
{
  display: flex;
  align-items: baseline;

  @media (max-width: 768px) {display: none;}
}

.nav__socials-item
{
  margin-right: 20px;

  color: #000;
  transition: 0.5s ease;

  &:last-child {margin-right: 0;}
}

.fa-github-square:hover, .fa-github-square:active
{
  color: #6cc644;
  transition: 0.3s;
}

.fa-instagram:hover, .fa-instagram:active
{
  color: #ea736d;
  transition: 0.3s;
}

.fa-vk:hover, .fa-vk:active
{
  color: #45668e;
  transition: 0.3s;
}

.fa-telegram-plane:hover, .fa-telegram-plane:active
{
  color: #45668e;
  transition: 0.3s;
}

.fa-whatsapp:hover, .fa-whatsapp:active
{
  color: #6cc644;
  transition: 0.3s;
}

.header__toggle-menu
{
  display: none;

  width: 40px;
  height: 30px;

  cursor: pointer;

  @media (max-width: 768px) {display: flex;}
}

.header__toggle-menu.active
{

}

.header__toggle-menu span
{
  position: relative;
  margin: auto;

  width: 100%;
  height: 5px;

  background-color: black;

  transition: 0.3s ease;

  &::after, &::before
  {
    content: "";
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    left: 0;

    transition: 0.3s ease;
  }

  &::after {top: -10px;}

  &::before {bottom: -10px;}
}

.header__toggle-menu.active span
{
  background-color: transparent;

  &::after
  {
    top: 0;
    background-color: #fbdc4d;
    transform: rotate(45deg);
  }

  &::before
  {
    bottom: 0;
    background-color: #fbdc4d;
    transform: rotate(-45deg);
  }
}

.header__content
{
  display: flex;
  justify-content: space-between;

  @media (max-width: 540px) {flex-direction: column;}
}

.header-content__img
{
  order: 1;
  max-width: 457px;

  overflow: hidden;

  @media (max-width: 1048px) {max-width: 330px;}

  @media (max-width: 768px) {max-width: 280px;}

  @media (max-width: 641px) {max-width: 250px;}

  @media (max-width: 540px)
  {
    order: 0;
    max-width: 446px;
    margin-bottom: 20px;
  }

  @media (max-width: 320px)
  {
    max-width: 290px;
    margin-bottom: 55px;
  }
}

.header-content__desc
{
  max-width: 590px;

  overflow: hidden;
  z-index: 8;

  @media (max-width: 768px) {max-width: 339px;}
}

.desc-title
{
  margin-bottom: 35px;

  font-weight: 800;
  font-size: 90px;
  line-height: 1.2;

  @media (max-width: 1048px) {font-size: 60px;}

  @media (max-width: 768px) {font-size: 45px;}

  @media (max-width: 641px) {font-size: 32px;}

  @media (max-width: 540px) {font-size: 42px;}

  @media (max-width: 414px) {font-size: 38px;}

  @media (max-width: 320px)
  {
    margin-bottom: 40px;
    font-size: 42px;
  }

  @media (max-width: 291px) {font-size: 38px;}
}

.header-content__desc p
{
  margin-bottom: 26px;
  padding-right: 67px;

  color: #393f47;
  font-weight: 500;
  font-size: 24px;

  &::selection
  {
    background-color: #fbdc4d;
  }

  @media (max-width: 1048px) {font-size: 22px;}

  @media (max-width: 768px)
  {
    padding-right: 0;

    font-size: 18px;
    line-height: 1.667;
  }

  @media (max-width: 641px) {font-size: 14px;}

  @media (max-width: 320px)
  {
    margin-bottom: 0;
    padding-right: 0;

    font-size: 24px;
  }

  @media (max-width: 290px) {font-size: 18px;}
}

.header__button-wrapper
{
  display: flex;

  @media (max-width: 768px) {display: none;}
}

.header__button
{
  margin-right: 20px;
  padding: 0 42px;
  height: 64px;

  border: 4px solid rgb(70, 70, 70);
  border-radius: 40px;

  color: #464646;
  font-weight: 700;
  font-size: 22px;

  transition: 0.5s ease;

  &:hover, &:focus
  {
    transition: 0.5s ease;
    background-color: rgb(251, 220, 77);
    border: 4px solid rgb(251, 220, 77);
  }

  @media (max-width: 1048px)
  {
    padding: 0 32px;
    font-size: 18px;
  }

  @media (max-width: 768px) {display: none;}
}

.header__img
{
  margin: 0 auto;
  margin-top: -120px;
  max-width: 1600px;

  opacity: 0.8;
  z-index: -9;


  @media (max-width: 768px) {margin-top: -120px;}

  @media (max-width: 540px) {display: none;}

  @media (max-width: 414px) {display: none;}
}

.header__img-mobile
{
  display: none;

  @media (max-width: 320px)
  {
    display: block;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
  }
}

.header__bottom
{
  display: flex;
  justify-content: space-between;

  @media (max-width: 540px) {flex-direction: column;}
}

.header-bottom__skills
{
  max-width: 595px;

  @media (max-width: 768px) {max-width: 393px;}

  @media (max-width: 320px) {max-width: 290px;}
}

.header-bottom__title
{
  margin-bottom: 41px;

  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgb(255, 255, 255);

  @media (max-width: 768px)
  {
    margin-bottom: 33px;
    font-size: 32px;
  }

  @media (max-width: 320px)
  {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.header-bottom__desc
{
  margin-bottom: 38px;

  color: #6b6b6b;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgb(255, 255, 255);

  @media (max-width: 768px) {font-size: 18px;}

  @media (max-width: 540px) {font-size: 15px;}

  @media (max-width: 320px)
  {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.header-bottom__desc li
{
  margin-bottom: 10px;

  &::before
  {
    content: "__ ";
    position: relative;
    left: 0px;
    bottom: 10px;
  }

  &::selection
  {
    background-color: #fbdc4d;
  }

  &:last-child {margin-bottom: 0;}
}

.header-contacts__socials
{
  display: flex;
  margin-bottom: 30px;
}

.contacts-social__item
{
  margin-right: 30px;
  color: #000;

  &:last-child {margin-right: 0;}
}

.header-bottom__email
{
  color: #6b6b6b;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgb(255, 255, 255);
  border-bottom: 3px solid #6b6b6b;

  cursor: pointer;

  &:hover
  {
    color: #039be5;
    border-bottom: 3px solid #039be5;
  }

  &:active
  {
    color: #ea736d;
    border-bottom: 3px solid #ea736d;
  }

  @media (max-width: 768px) {font-size: 20px;}

  @media (max-width: 320px) {font-size: 18px;}
}
